n8n/hotel-ai-assistant-ready.json
{
  "name": "Hotel AI Assistant Gemini Ready",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "hotel-ai-assistant",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "webhook-hotel-ai-assistant",
      "name": "Webhook Hotel AI Assistant",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        260,
        300
      ],
      "webhookId": "hotel-ai-assistant"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ 'https://generativelanguage.googleapis.com/v1beta/models/gemini-2.5-flash:generateContent?key=' + $env.GEMINI_API_KEY }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "contentType": "json",
        "jsonBody": "={{ JSON.stringify({ contents: [{ parts: [{ text: 'Сен Kazakhstan Hotel Booking жобасының AI ассистентісің. Қазақ тілінде қысқа әрі нақты жауап бер. Жоба туралы мәлімет: React frontend, FastAPI backend, PostgreSQL database, Nginx reverse proxy, Docker Compose, Prometheus, Grafana, Jenkins, n8n, Telegram Alert Bot, Terraform және Ansible бар. Пайдаланушы сұрағы: ' + ($json.body?.question || $json.question || 'Қонақүй брондау жүйесі не істейді?') }] }] }) }}",
        "options": {}
      },
      "id": "gemini-http-request",
      "name": "Gemini HTTP Request",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        560,
        300
      ]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ { success: true, project: 'Kazakhstan Hotel Booking', source: 'Google Gemini', answer: $json.candidates?.[0]?.content?.parts?.[0]?.text || 'Gemini жауап бермеді' } }}",
        "options": {}
      },
      "id": "respond-to-webhook",
      "name": "Respond to Webhook",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [
        860,
        300
      ]
    }
  ],
  "connections": {
    "Webhook Hotel AI Assistant": {
      "main": [
        [
          {
            "node": "Gemini HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Gemini HTTP Request": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  }
}