n8n/n8n_workflow_hotel_ai_assistant.json
{
  "name": "Hotel AI Assistant Gemini",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "chat",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "webhook-chat",
      "name": "Webhook Chat",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        0,
        0
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ 'https://generativelanguage.googleapis.com/v1beta/models/gemini-2.5-flash:generateContent?key=' + $env.GEMINI_API_KEY }}",
        "sendBody": true,
        "contentType": "json",
        "jsonBody": "={{ JSON.stringify({ contents: [{ parts: [{ text: 'Сен отель брондау жүйесінің AI ассистентісің. Қысқа жауап бер: ' + ($json.body.question || $json.question || 'Сұрақ жоқ') }] }] }) }}",
        "options": {}
      },
      "id": "gemini-request",
      "name": "Gemini HTTP Request",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        260,
        0
      ]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ { success: true, project: 'Kazakhstan Hotel Booking', source: 'Google Gemini', answer: $json.candidates?.[0]?.content?.parts?.[0]?.text || 'Gemini жауап бермеді' } }}",
        "options": {}
      },
      "id": "respond",
      "name": "Respond to Webhook",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [
        520,
        0
      ]
    }
  ],
  "connections": {
    "Webhook Chat": {
      "main": [
        [
          {
            "node": "Gemini HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Gemini HTTP Request": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "active": false,
  "versionId": "1"
}